/* full-screen centered gradient background */
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* container matching login style */
.container {
  background-color: #fff;
  width: 100%;
  max-width: 350px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* product header styles */
.productHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.productLogo {
  width: 37px;
  height: 37px;
  object-fit: contain;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
  padding: 2px;
}

.productName {
  font-size: 32px;
  font-weight: bold;
  color: #343a40;
}

/* page title */
.title {
  color: #343a40;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/* form labels */
.label {
  font-weight: 500;
  font-size: 14px;
  color: #6c757d;
  display: block;
  margin-bottom: 0.5rem;
}

/* feedback message */
.message {
  text-align: center;
  margin-bottom: 1rem;
  color: #e53e3e;
}

/* primary button styling */
.requestButton, .resetButton {
  background: linear-gradient(135deg, #1E63C6, #004A99);
  color: #fff;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.699);
}

.requestButton:hover, .resetButton:hover {
  background: linear-gradient(135deg, #2F7DE1, #0056B3);
  box-shadow: 0 2px 7px rgba(121, 121, 121, 0.699);
}

/* link styling */
.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.inputGroup {
  position: relative;
  width: 100%;
}

.inputIcon {
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-58%);
  font-size: 23px;
  color: #888888a7;
  pointer-events: none;
}

.inputGroup input {
  padding-left: 50px !important;
}

@media (max-width: 768px) {
    .background {
    align-items: flex-end;
  }

  .container {
    max-width: none;
    width: 100%;
    min-height: 85dvh;
    display: flex;
    flex-direction: column;
    border-radius: 32px 32px 0 0;
  }
}

